// Place all the styles related to the wires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: #CBCBCB;
  height: 125px;
  width: 100%;

}
.concept-var {
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.concept-logo {
  width: 400px;
  height: 93px;
  left: -23px;
  top: 0px; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  color: #606060;
}

.concept__btn{
  text-decoration: none;
  color: #606060;
}

.izawa-logo{
width: 120px;
height: 30px;
left: 1138px;
top: 62px;
border: 1px solid #000000;
display: flex;
align-items: center;
margin: 45px 25px 0px 0px;
}

.izawa__btn{
width: 237px;

left: 0px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 29px;
text-align: center;
text-decoration: none;
user-select: none;
background: #E0E0E0;
color: #606060;
}

.zettaiseisan {
  width: 100%;
  height: 33px;
  left: 0px;
  top: 125px;
  background: #DE6666;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
letter-spacing: 0.3em;
color: #FFFFFF;
}

.kaetteyosi{
  width: 100%;
  height: 33px;
  left: 0px;
  top: 125px;
  background: #66DE80;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
letter-spacing: 0.3em;
color: #FFFFFF;
}

.topspace {
  width: 100%;
  height: 40px;

}

.hidari{
  height: 50px;
  width: 150px;
}

.wirekei{
  height: 20px;
  width: 125px;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;

}

.wirered{
  height: 20px;
  width: 125px;
  background-color: #FF4646;
  border-radius: 5px;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 2px;
}

.wireblack{
  height: 20px;
  width: 125px;
  background-color: #515151;
  border-radius: 5px;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 2px;
}

.wirewhite{
  height: 20px;
  width: 125px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 11px;
  color: #000000;
  text-align: center;
  padding-top: 2px;
  border: 1px solid #000000;
}

.concept-seisan {
  display: flex;
  justify-content: center;
}


.concept-hinban {
  text-align: center;
  height: 50px;
  font-size: 30px;
  width: 280px;
  margin-right: 23px;
  margin-bottom: 18px;
  border-bottom: 1px solid #000000;

}

.concept-hitsuyousu{
  text-align: center;
  height: 50px;
  width: 120px;
  font-size: 30px;
  border-bottom: 1px solid #000000;

}

.concept-hensyu-btn{
width: 40px;
height: 25px;
top: 305px;
text-align: center;
margin-top: 12px;
margin-left: 23px;
background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;
user-select: none;

}

.wire_btn{
  font-size: 14px;
  text-decoration: none;
  user-select: none;
  color: #606060;
}

.wire-box{
  height: 51px;
  width: 120px;
  margin-left: 23px;
}

.conceptzaikoform[type="text"]{
  text-align: center;
  height: 46px;
  width: 180px;
  font-size: 30px;
  color: #000000;
}

.btn{
  margin-left: 145px;
  margin-top: 2px;
}

.izawatopspace{
  width: 100%;
height: 33px;
background-color: rgb(169, 187, 194);
display: flex;
}

.shinkihin{
  width: 25%;
  height: 31px;
  text-align: center;
  line-height:31px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #CBCBCB;  
}
.ichiran{
  width: 25%;
  height: 31px;
  text-align: center;
  line-height:31px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #CBCBCB;  
}

.reset{
  width: 50%;
  height: 31px;
  text-align: center;
  line-height:31px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #CBCBCB;  
}

.izawa__shinki{
  text-decoration: none;
  user-select: none;
  color: #606060;
}

.izawa__riset{
  text-decoration: none;
  user-select: none;
  color: #606060;
}

.izawaspace{
  width: 100%;
  height: 30px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.izawawires{
  padding-top: 12px;
}

.izawamigispace{
  height: 33px;
  width: 24%;
}

.izawahinban{
  height: 33px;
  width: 20%;
  text-align: center;
  font-size: 12px;
  border-bottom: 0.5px solid #000000


}

.izawazaiko{
  height: 33px;
  width: 13%;
  text-align: center;
  font-size: 12px;
  border-bottom: 0.5px solid #000000;
}

.izawachumon{
  height: 33px;
  width: 12%;
  text-align: center;
  font-size: 12px;
  border-bottom: 0.5px solid #000000;
}
.izawahidarispace{
  height: 33px;
  width: 25%;
}

.izawafontsize{
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  color: #606060;
}

.izawahinban2{
  height: 25px;
  width: 20%;
  text-align: center;
  border-bottom: 0.5px solid #878787
}

.izawazaiko2{
  height: 25px;
  width: 13%;
  text-align: center;
  border-bottom: 0.5px solid #878787
}

.izawachumon2{
  height: 25px;
  width: 12%;
  text-align: center;
  border-bottom: 0.5px solid #878787
}

.izawaspace2{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.izawa_wire_btn_waku{
  text-align: center;
  background: #D9D9D9;
  border: 1px solid #939393;
  border-radius: 5px; 
  width: 32px;
  height: 20px;
  display: flex;
  justify-content: center;


}

.izawa_wire_btn{
  font-size: 12px;
  text-decoration: none;
  user-select: none;
  color: #606060;
  margin-top: 1px;
}

.izawachumon3{
  height: 25px;
  width: 12%;
}

.izawachumonform3{
  text-align: center;
  width: 100%;
}

.newspace{
  width: 100%;
  height: 35px;
}

.newspace2{
  color: #606060;
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 30px;
}

.newwire-box{
height: 25px;
width: 100%;
display: flex;
justify-content: center;
}

.newform{
  font-size: 16px;
  height: 30px;
  width: 150px;
  text-align: center;
  margin: 0px 2px;
  color: #7c7c7c;
}
.newformmini{
  font-size: 16px;
  height: 30px;
  width: 50px;
  text-align: center;
  margin: 0px 2px;
  color: #7c7c7c;
}

.newkei{
  font-size: 16px;
  height: 36px;
  width: 50px;
  text-align: center;
  color: #1f1f1f;
  margin: 0px 2px;
}

.newform3{
  font-size: 16px;
  height: 30px;
  width: 80px;
  text-align: center;
  color: #7c7c7c;
  margin: 0px 2px;
}